aiounittest
async-asgi-testclient
black
blinker
celery
django
fastapi
flask
httpx
importlib-metadata
jinja2
markupsafe
mock
psutil
pylint
pytest
pytest-cov
six
sqlalchemy
testfixtures
typing-extensions

# Type checking
pytest-mypy
types-six
types-psutil
types-mock
django-stubs
asgiref
celery-types

# For Python 3.10+ which removed cgi module
legacy-cgi==2.6.3
