name: Publish new version on PyPi

on:
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  contents: write
  issues: write
  pull-requests: write
  repository-projects: read # this is required by release-please-action to set the auto-release tags

# Note for release-please-action:
# The action will set the auto-release tags for the release PR. If these tags do not already exist, the action will fail to create them.
# Therefore, make sure that the tags are created in the repository before running the release workflow: `autorelease: pending`, `autorelease: tagged`

jobs:
  test:
    uses: honeybadger-io/honeybadger-python/.github/workflows/python.yml@master

  publish:
    needs: [ test ]
    runs-on: ubuntu-22.04
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: python

      # The logic below handles Pypi publishing.
      - name: Checkout
        uses: actions/checkout@v5
        if: ${{ steps.release.outputs.release_created }}

      - name: Setup python
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Build for python 3
        if: ${{ steps.release.outputs.release_created }}
        run: |
          pip install --upgrade twine wheel
          python setup.py bdist_wheel
          ls dist

      - name: Upload
        if: ${{ steps.release.outputs.release_created }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: twine upload dist/*
